<div class="bg-primary-dark text-center text-white p-10">
  <img class="mx-auto mt-28 mb-4 font-thin h-36"
       src="{{- config.logo | url -}}"
       alt="{{- title -}}"
  />
  <p class="text-2xl mb-32">{{- description -}}</p>
</div>
