{
  "printWidth": 80,
  "proseWrap": "always",
  "trailingComma": "es5",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
