{% comment %}
Rounded link button. Pass url, text, and (maybe) title.
{% endcomment %}

<a href="{{ _url | url }}"
   title="{{ _title }}"
   class="flex justify-center items-center shadow mx-1 p-3
          bg-primary hover:bg-secondary focus:bg-secondary
          text-white hover:text-black focus:text-black
          focus:outline-offset-4
          font-bold text-xl rounded-full">
  {{ _text }}
</a>
