<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.liquid" %}
  </head>
  <body class="flex flex-col min-h-screen">
    {% comment %}
      Hack because bg-cover + bg-fixed does not work on Safari on mobile
      browsers. This puts the background image in a separate div and fixes its
      position. See https://css-tricks.com/the-fixed-background-attachment-hack/
    {% endcomment %}
    {% if layoutBase.bkgdImg %}
    <div class="min-w-full min-h-screen fixed z-[-1]
                bg-center bg-no-repeat bg-cover
                transition-[background] duration-1000 ease-linear"
         style="background-image: url({{ layoutBase.bkgdImg.url | url }});"
         id="layout_base_bkgd">
    </div>
    {% elsif layoutBase.bkgdGradient %}
    <div class="min-w-full min-h-screen fixed z-[-1]
                {{ layoutBase.bkgdGradient }}">
    </div>
    {% endif %}

    {% include "header.liquid" %}
    <main>
      {{ content }}
    </main>
    <div class="flex-grow">
      {% comment %}Filler space to ensure min-h-screen is satisfied.{% endcomment %}
    </div>
    {% include "footer.liquid" %}
    {% include "scripts.liquid" %}
  </body>
</html>
