<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.liquid %}
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="sticky top-0 z-50">
      {% include navbar.liquid %}
    </header>
    <main class="flex-grow">
      {%- if cover -%}
        {% include cover.liquid %}
      {%- endif -%}
      {%- if logo -%}
        {% include logo.liquid %}
      {%- endif -%}
      {{ content }}
    </main>
    <footer>
      {% include footer.liquid %}
    </footer>
    {% include scripts.liquid %}
  </body>
</html>
