---
layout: default.liquid
title: 404
description: Page not found
permalink: /404.html
---

<div class="w-full text-center my-8">
  <h1 class="text-9xl font-thin">{{- title -}}</h1>
  <p class="text-4xl text-center">{{- description -}}</p>
</div>
